/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}


/* LAYOUT */

.container {
    
	max-width: 80%;
    width: 100%;
	margin: 0 auto;
	padding: 0 24px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}



.col-4 {
	width: calc(4 * 100% / 12);
}

.col-8 {
	width: calc(8 * 100% / 12);
}

.col-6 {
    /* 50% */
	width: calc(6 * 100% / 12);
}

.col-12 {
	/* 100% */
	width: calc(12 * 100% / 12);
}




/* UTILITIES */

.flx {
    display: flex;
}


/* STYLE */

header {
    background-color: #0084FD;
}



.button {
    line-height: 20px;
    text-align: center;
    display: inline-block;
    padding: 2px 12px;
    margin-left: 12px;
    border-radius: 999px;

}

.white-btn {
    background-color: white;
}

.blue-btn {
    background-color: #0084FD;
    color: white;
}

/* HEADER */

header ul {
    display: flex;
    gap: 16px;
}


.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

header i {
    color: white;
    font-size: 150%;
}


/* HERO */


.card {
    background-color: #B5DDFF;
    margin: 12px;
    display: flex;
    flex-direction: column;
}

.card-lrg {
    background-color: #B5DDFF;
    margin: 12px;
    display: flex;

}

.card__section {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
}


.card-img {
    max-height: 50%;
    align-self: flex-end;
}











/* SMARTPHONE < 570PX */

@media (min-width: 300px) {

    .container {
        max-width: 570px;
    }

    header ul {
        display: none;
    }

    header .button {
        display: none;
    }
    
 
    .col-4.phone {
        width: 100%;
    }

    .col-8.phone {
        width: 100%;

    }

}

/* TABLET > 570PX < 900PX  */
@media (min-width: 571px) {

    .container {
        max-width: 991px;

    }

    header ul {
        display: none;
    }

    header .button {
        display: none;
    }
    
}

/* DESKTOP > 992PX */
@media (min-width: 991px) {
    .fa-solid.fa-bars.none {
        display: none;
    }

    .container {
    
        max-width: 80%;
        width: 100%;
    }

    header ul {
        display: flex;
    }

    header .button {
        display: flex;
    }
    
}





/* LAYOUT */





/* LAYOUT */
